__pycache__
.ipynb_checkpoints
*.pyc

ignore
*.csv
data/complete/*
!data/complete/.gitkeep

data/output/*
!data/output/.gitkeep

# don't keep data excep specified sample
data/input/*
!data/input/.gitkeep
!data/input/start_end_courses-template.csv